body {
  background-color: black;
}
* {
  font-family: "Poppins", sans-serif;
}
.primary__background {
  background: #b1e693;
}
.primary__background__light {
  background: #c1ffd7;
}
.btn {
  border: 2px solid white;
  border-radius: 50px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.link {
  text-decoration: none;
}
