body {
  background-color: black;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.primary__background {
  background: #b1e693;
}
.primary__background__light {
  background: #c1ffd7;
}
.btn {
  border: 2px solid white;
  border-radius: 50px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.link {
  text-decoration: none;
}
.corousel-image {
  opacity: 0.5;
}

.infinite__slider {
  height: 50px;
  background-color: #dbddf1;
  display: flex;
  align-items: center;
  cursor: default;
  overflow: hidden;
}
.slider__text {
  white-space: nowrap;
  animation: animate 20s linear infinite;
}
.gallery {
  background-color: #dbddf1;
}
.image-card {
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.image-card .image-description,
.image-card:after {
  position: absolute;
  left: 0px;
  right: 0px;
}
.image-card:after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s;
  transform: rotate3d(-1, 1, 0, 100deg);
}
.image-card:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}
.image-card .image-description {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: white;
}
.image-card:hover .image-description {
  opacity: 1;
  transform: translate(0%, -50%);
  transition-delay: 0.3s;
}
.gallery .image-card img {
  background-color: #fff;
  width: 100%;
  object-fit: contain;
}
.modal-actitivy {
  background: red;
}
.navigation {
  margin-bottom: 5rem;
}

.mission_icon img {
  width: 100px;
  object-fit: contain;
}
.mission_desc {
  color: #dbddf1;
}

.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.rec-dot {
  background-color: #fff !important;
}
.rec-arrow:hover,
.rec-arrow:hover:enabled {
  background-color: #b1e693;
}
.test-img {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}
.test-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.test-card {
  margin: 0 15px;
  height: 400px;
}

@keyframes animate {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 420px) {
  .mission_desc {
    margin-top: 20px;
  }
  .test-card {
    margin: 0px;
  }
  .test-img {
    padding: 10px;
  }
  .corousel-item h3 {
    font-size: 15px !important;
  }
}
